#AboutMe {
  /* background: linear-gradient(to bottom left, black, #010208, black); */
  background: #010208;
}
#bg-AboutMe {
  background: url(../../../public/assets/images/anielloPhotographer.jpg);
  background-repeat: no-repeat;

  background-size: 850px;
  /* width: 100%; */
  background-position: bottom left;
}
.bg-aniedd {
  background: url(../../../public/assets/images/anielloPhotographer.jpg);
  min-height: 75vh;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.vh-15 {
  min-height: 15vh;
}
@media screen and (min-width: 1px) and (max-width: 1200px) {
  #colchanging {
    background-color: #6b6d6c;
    text-shadow: 0 1px 10px black;
  }
}
@media screen and (min-width: 1201px) and (max-width: 200300px) {
  #colchanging {
    background: black;

    text-shadow: 0 2px 15px #ffffffb2;
  }
}

/* SLIDER PUBBLICAZOINI */

@media screen and (min-width: 400px) {
  .slidingbg {
    height: 35vh;
    width: 25vw;
    padding: 10px;
    transition: all 0.4s linear;
  }
}
@media screen and (max-width: 400px) {
  .slidingbg {
    height: 35vh;
    width: 50vw;
    padding: 5px;
    transition: all 0.4s linear;
  }
}
#sliderContainer {
  min-height: 50vh;
  display: flex;
}
.slidingbg > div {
  border-radius: 5px;
}
.aniedd1 {
  background: url("../../../public/assets/images/aniedd1.avif");
}
.aniedd2 {
  background: url("../../../public/assets/images/aniedd2.avif");
}
.aniedd3 {
  background: url("../../../public/assets/images/aniedd3.avif");
}
.aniedd4 {
  background: url("../../../public/assets/images/aniedd4.avif");
}
.aniedd5 {
  background: url("../../../public/assets/images/aniedd5.avif");
}
.aniedd6 {
  background: url("../../../public/assets/images/aniedd6.avif");
}
.aniedd7 {
  background: url("../../../public/assets/images/aniedd7.avif");
}
.aniedd8 {
  background: url("../../../public/assets/images/aniedd8.avif");
}
.aniedd1,
.aniedd2,
.aniedd3,
.aniedd4,
.aniedd5,
.aniedd6,
.aniedd7,
.aniedd8 {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: grayscale(1) sepia(0.25);
  transition: all 0.8s;
  z-index: 0;
}
.aniedd1:hover,
.aniedd2:hover,
.aniedd3:hover,
.aniedd4:hover,
.aniedd5:hover,
.aniedd6:hover,
.aniedd7:hover,
.aniedd8:hover {
  cursor: pointer;
  filter: grayscale(0) sepia(0);
  scale: 1.07;
  z-index: 1111;
}
.row1 {
  animation: slide1 25s linear infinite;
  -webkit-animation: slide1 25s linear infinite;
  position: absolute;
}
@keyframes slide1 {
  0% {
    position: absolute;
    right: -100vw;
  }
  100% {
    position: absolute;
    right: 100vw;
  }
}
@-webkit-keyframes slide1 {
  0% {
    position: absolute;
    right: -100vw;
  }
  100% {
    position: absolute;
    right: 100vw;
  }
}
.row2 {
  animation: slide2 25s linear infinite;
  -webkit-animation: slide2 25s linear infinite;
  animation-delay: 12.5s;
  opacity: 0;
  position: absolute;
}
@keyframes slide2 {
  0% {
    opacity: 1;
    position: absolute;
    right: -100vw;
  }
  100% {
    opacity: 1;
    position: absolute;
    right: 100vw;
  }
}
@-webkit-keyframes slide2 {
  0% {
    opacity: 1;
    position: absolute;
    right: -100vw;
  }
  100% {
    opacity: 1;
    position: absolute;
    right: 100vw;
  }
}
@media screen and (max-width: 800px) {
  .slidingbg {
    height: 35vh;
    width: 50vw !important;
    padding: 5px;
  }
  @keyframes slide2 {
    0% {
      opacity: 1;
      position: absolute;
      right: -200vw;
    }
    100% {
      opacity: 1;
      position: absolute;
      right: 200vw;
    }
  }
  @-webkit-keyframes slide2 {
    0% {
      opacity: 1;
      position: absolute;
      right: -200vw;
    }
    100% {
      opacity: 1;
      position: absolute;
      right: 200vw;
    }
  }

  @keyframes slide1 {
    0% {
      position: absolute;
      right: -200vw;
    }
    100% {
      position: absolute;
      right: 200vw;
    }
  }
  @-webkit-keyframes slide1 {
    0% {
      position: absolute;
      right: -200vw;
    }
    100% {
      position: absolute;
      right: 200vw;
    }
  }
}
