@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Charm:wght@400;700&family=Explora&family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Bengali:wght@100..900&family=Tangerine:wght@400;700&display=swap");
@import "./Components/Clients.css";
:root  {
  /* FONTS */
  --font-1: "Montserrat", sans-serif;
  --font-2: "Faculty Glyphic", sans-serif;
  --font-3: "Explora", serif;
  --cursive: "Noto Serif Bengali", serif;
  --cursive-2: "Bonheur Royale", cursive;
  --cursive-2: "Charm", cursive;
  --cursive-2: "Explora", serif;
  /* --cursive-2: "Tangerine", cursive; */
  /* --cursive: "Noto Sans", sans-serif; */
  /* COLOURS */
}
.text-1 {
  font-family: var(--font-1);
}
.text-2 {
  font-family: var(--font-2);
}
.text-3 {
  font-family: var(--font-3);
}
.cursive {
  font-family: var(--cursive);
  font-size: 1.3em;
}
.cursive-2 {
  font-family: var(--cursive-2);
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(128, 128, 128, 0.829);
}
.ls-1 {
  letter-spacing: 0.06em;
}
